# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
vechicle_ai_env/

# OpenVINO / ML models
*.onnx
*.bin
*.xml
*.safetensors
*.pt
*.pth
*.gguf

# HuggingFace / cache
.cache/
huggingface/
transformers/
datasets/

# Logs & temp
logs/
tmp/
*.log

# OS / Editor
.vscode/
.idea/
.DS_Store
