# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environments
ov_env/
.venv/
*_env/

# OpenVINO / AI artifacts
*.onnx
*.bin
*.xml
*.pt
*.pth
*.engine

# Datasets & media
data/
datasets/
*.mp4
*.avi
*.jpg
*.png

# Build artifacts
build/
dist/
.cache/
.pytest_cache/

# OS
.DS_Store
